<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/brand.css">
    <title></title>
</head>
<body>

  {{outlet}}

  <script type="application/javascript" src="js/vendor.js"></script>
  <script type="application/javascript" src="js/brand.js"></script>
</body>
</html>
